<input type="text" [(ngModel)]="searchSong">


@if (shownSongsList().length > 0){
    <ul>
        @for (song of shownSongsList(); track song.songId) {
            <li class="text-white" (click)="changeViewMode('Player')">
                ({{ song.songId }}){{ song.title }} - {{ song.artist }}
                <fa-icon [icon]="getIconByFavorite(song.songId)()" (click)="onChangeFavoriteStatus(song.songId)"></fa-icon>
            </li>
        }
    </ul>
} @else {
    <p class="text-white">No s'ha trobat cap cançó ni artista relacionat amb la cerca.</p>
}

<button (click)="changeViewMode('AddForm')">Afegir Music</button>