.app-main-container {
    background-color: #1f1f1f;
    width: 1200px;
    margin: 0 auto;
    margin-top: 15rem;
    height: 45.75rem;
}

.main-logo {
    width: 400px;
    height: 400px;
    margin-right: 5.72rem;
}