.app-main-container {
    background-color: #1f1f1f;
    width: 1070px;
    gap: 5%;
    margin: 0 auto;
    margin-top: 5%;
    height: 37rem;
    padding-right: 1.77rem;
}

.main-logo {
    width: 320px;
    height: 320px;
    margin-left: 4.65%;
    margin-top: 1rem;
}