.app-main-container {
    background-color: #1f1f1f;
    width: 1000px;
    margin: 0 auto;
    margin-top: 5%;
    height: 37rem;
}

.main-logo {
    width: 300px;
    height: 300px;
    margin-right: 11%;
}