<div class="addform-container d-flex flex-column gap-4">
    <button (click)="changeViewMode('General')" class="close-button d-flex align-items-center justify-content-center mb-3 me-2 p-2 rounded-circle align-self-end">
        <fa-icon [icon]="closeIcon()" class="fs-5"></fa-icon>
    </button>

    <div class="d-flex flex-column gap-3">
        <input type="text" [(ngModel)]="title" placeholder="Títol de la cançó..." class="input-container rounded-3">
        <input type="text" [(ngModel)]="artist" placeholder="Nom del grup o de l'artista..." class="input-container rounded-3">
        <input type="text" [(ngModel)]="mp3Url" placeholder="Enllaç a la cançó..." class="input-container rounded-3">
        <input type="text" [(ngModel)]="cover" placeholder="Enllaç de la portada..." class="input-container rounded-3">
        <textarea [(ngModel)]="description" placeholder="Descripció..." class="input-container rounded-3 pb-5 textarea"></textarea>
    </div>
    
    <div class="d-flex justify-content-center gap-4">
        <button (click)="changeViewMode('General')" class="btn btn-danger cancel">Cancel·lar</button>
        <button (click)="resetFormInputs()" class="btn btn-primary reset">Reiniciar Formulari</button>
        <button (click)="addSongToList()" class="btn btn-success add">Afegir</button>
    </div>

    @if (errorMessage().length > 0) {
        <div class="d-flex justify-content-center">
            <p class="not-found-message py-1 rounded-3">{{ errorMessage() }}</p>
        </div>
    }
</div>
