<div class="addform-container">
    <button (click)="changeViewMode('General')">Sortir</button>
    <div class="d-flex flex-column gap-3">
        <input type="text" [(ngModel)]="title" placeholder="Títol de la cançó...">
        <input type="text" [(ngModel)]="artist" placeholder="Nom del grup o de l'artista...">
        <input type="text" [(ngModel)]="mp3Url" placeholder="Enllaç a la cançó...">
        <input type="text" [(ngModel)]="cover" placeholder="Enllaç de la portada...">
        <textarea [(ngModel)]="description" placeholder="Descripció..."></textarea>
    </div>
    <div class="buttons">
        <button (click)="changeViewMode('General')">Cancel·lar</button>
        <button (click)="resetFormInputs()">Reiniciar Formulari</button>
        <button (click)="addSongToList()">Afegir</button>
    </div>
</div>
